{{data.idInm}} <br>
{{data.nombre}} <br>
{{data.descr}} <br>
{{data.ubic}} <br>
{{data.tipoInm}} <br>
{{data.img}} <br>
{{data.compra}} <br>
{{data.moneda}} <br>
{{data.precio}} <br>
{{data.metro}} <br>
{{data.hab}} <br>
{{data.bano}} <br>

<form action="/reservar/{{data.idInm}}/add" method="post">
    <input type="date" name="fecha">
    <input type="time" name="tiempo">
    <input type="text" value="{{data.ubic}}" disabled>
    {{!-- <input type="text" > --}}
    <button type="submit">DALE</button>
</form>

