<link rel="stylesheet" href="/css/tel.css">
<div class="container-fluid">
    <div class="row float-right">
        <a class="mr-2" href="/editProfile">Editar perfil</a>

    </div>
</div>
<div class="container p-4">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-center rounded-circle">
                <div class="card-header bg-light ">
                    <img src="/uploads/{{data.idImg}}" class="rounded-circle img-thumbnail w-100 h-100" alt="">
                    <h3>{{data.fullname}}</h3>
                </div>


            </div>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="image">
                <button type="btn btn-success">
                    Subir
                </button>
            </form>
        </div>


    </div>
    <hr class="sidebar-divider">
    <form action="/updateuser" method="POST">
        <div class="row justify-content-center">


            <div class="col-md-4">
                <h5><i class="fas fa-user"></i> Nombre:</h5>
                   <hr class="divider">
                   <hr class="divider">
                <h5><i class="far fa-envelope"></i> Correo:</h5>
                    <hr class="divider">
                    
                <h5><i class="fas fa-mobile-alt"></i> Telefono:</h5>
                    <hr class="divider">    
                    <br>
                    <br>
                <h5><i class="far fa-map"></i> Direccion:</h5>

            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" name="fullname" value="{{user.fullname}}" placeholder="Nombre completo"
                        class="form-control">
                </div>
                <hr class="divider">
                <h5>{{data.correo}}</h5>
                <hr class="divider">
                <div class="form-group">
                    <input type="tel" name="telefono" value="{{user.telefono}}" placeholder="Número de Telefono"
                        class="form-control" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                    <span class="note"> Formato: XXX-XXX-XXXX </span>
                </div>
                <hr class="divider">
                <div class="form-group">
                    <input type="text" name="direccion" value="{{user.direccion}}" placeholder="Direccion"
                        class="form-control">
                </div>
               


            </div>
        </div>
        <hr class="sidebar-divider">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h5>Descripcion:</h5>
                <hr class="divider">
                <h5>Lugar de empleo:</h5>
                <br>
            </div>
            <div class="col-md-4">
                <div class="form-group">

                    <input type="text" name="descripcion" value="{{user.descripcion}}" placeholder="Sobre ti"
                        class="form-control">
                    <hr class="divider">
                    <input type="text" name="Empleo" value="{{user.Empleo}}" placeholder="Empleo"
                        class="form-control">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group">
                <button class="btn btn-primary" style="background-color: #1bb2fe; border-color: #1eb2fc;">Editar
                    info</button>

            </div>

        </div>

    </form>

    {{!-- <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-header bg-light">
                    <img src="/uploads/{{ data.idImg }}" alt="" class="w-100 h-100 img-thumbnail">

                    {{#if isUser}}
                    <div class="card-body">
                        <div class="nav-item dropdown active">
                            <a class="navdivink dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cambiar imagen
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <form action="/upload" method="POST" enctype="multipart/form-data">
                                    <input type="file" name="image">
                                    <button type="btn btn-success">
                                        Subir
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {{/if}}


                </div>
            </div>
            <div class="card" id="card2">
                <div class="card-header">
                    <li>Empleos</li>
                </div>
            </div>
            <div class="card" id="card2">
                <div class="card-header">
                    <li>Habilidades</li>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" style="background-color: #1bb2fe;">
                    <h3 class="card-title text-white">
                        {{data.fullname}}
                            {{#if isUser}}
                            <button type="button" class="btn btn-secondary float-right" data-toggle="modal"
                                data-target="#exampleModalCenter">Editar</button>
                            {{/if}}
                        {{> editwin}}
                    </h3>

                </div>
                <div class="card-body">
                    <h4 class="text-primary">
                        <li>{{data.descripcion}}</li>
                    </h4>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" style="background-color: #1bb2fe;">
                    <h3 class="card-title text-white">
                        Información



                    </h3>


                </div>


                <div class="card-body">
                    <h5 class="text-primary">
                        Teléfono: {{data.telefono}}
                        <br>
                        Dirección: {{data.direccion}}
                        <br>
                        Correo: {{data.correo}}


                    </h5>

                </div>

            </div>




        </div>
    </div> --}}
</div>