<style>
    #card2 {
        margin: 5%;
    }

    section {
        background: url("../img/stock2.jpg") no-repeat fixed center;
        background-size: cover;
    }

    .img-thumbnail {
        position: relative;
        display: inline-block;
    }

    .notify-badge {
        position: absolute;
        right: 60px;
        top: 180px;
        background: #1bb2fe;
        text-align: center;
        border-radius: 50%;
        width: 50px;
        line-height: 50px;
        font-size: 24px;
        color: #f4f4f4;
    }
</style>



<section>
    <div class="container p-4 bg-light">
        <div class="row justify-content-center">
            
            <div class="col-md-4">
                <div class="card text-center rounded-circle">
                    <div class="card-header bg-light">
                        <img src="/uploads/{{data.idImg}}" class="rounded-circle img-thumbnail w-90 h-90" alt=""
                            onerror="this.onerror=null; this.src='img/userlogo.jpg'">
                        {{#if isUser}}
                        <a href="/editProfile" id="edit"><span class="notify-badge"><i class="fas fa-user-edit"></i></span></a>
                        {{/if}}
                        <h3>{{data.fullname}}</h3>
                    </div>
                </div>
            </div>
            <script>
                var $btn = $('#edit').hide()
                $(".card-header").mouseenter(function(){
                    $btn.fadeIn(300);
                    $btn.show();
                    
                });
                $(".card-header").mouseleave(function (){
                    $btn.fadeOut(300);
                    $btn.hide();
                    
                });
            </script>

        </div>
        <hr class="sidebar-divider">
        <div class="row justify-content-center">
            <div class="col-md-3 ml-auto">
                <h5><i class="far fa-envelope fa-fw"></i> Correo:</h5>
                <br>
                <h5><i class="fas fa-mobile-alt fa-fw"></i> Teléfono:</h5>
                <br>
                <h5><i class="far fa-map fa-fw"></i> Dirección:</h5>

            </div>

            <div class="col-md-5 ml-auto">
                <h5>{{data.correo}}</h5>
                <br>
                <h5>{{data.telefono}}</h5>
                <br>
                <h5>{{data.direccion}}</h5>
            </div>
        </div>
        <hr class="divider">
        <div class="row justify-content-center">
            <div class="col-md-3 ml-auto">
                <h5><i class="fa fa-pencil fa-fw"></i> Descripción:</h5>
            </div>
            <div class="col-md-5 ml-auto">
                <h5>{{data.descripcion}}</h5>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-3 ml-auto">
                <h5><i class="fa fa-id-badge fa-fw"></i> Lugar de empleo:</h5>
            </div>
            <div class="col-md-5 ml-auto">
                <h5>{{data.Empleo}}</h5>
            </div>
        </div>
        {{!-- <div class="row justify-content-center">
            <div class="col-md-3">
                <h5><i class="fa fa-pencil fa-fw"></i> Descripción:</h5>
                <br>
                <br>
                <h5><i class="fa fa-id-badge fa-fw"></i> Lugar de empleo:</h5>
                <br>
            </div>
            <div class="col-md-5">
                <h5>{{data.descripcion}}</h5>
                {{#unless data.descripcion}}
                <p>No hay descripcion</p>
                {{/unless}}
                <hr class="divider">
                <br>
                <h5>{{data.Empleo}}</h5>
                {{#unless data.Empleo}}
                <h5>no hay empleo</h5>
                {{/unless}}
            </div>
        </div> --}}

        <br>
        <br>
        {{#if isUser}}
        <h4>Citas pendientes</h4>
        <hr class="sidebar-divider">
        {{#if reserva}}
        {{#each reserva}}
        <div class="row justify-content-center">
            <div class="col-md-4">
                <img src="/img/{{img}}" class="img-thumbnail float-left mr-2" style="width: 10rem; margin-bottom: 8px;">
                <b>
                    <p>{{nombre}}</p>
                </b>
                <p>Hora: {{tiempo}}</p>
                <p>Fecha: {{fecha}}</p>



            </div>

            <div class="col-md-3">
                <b>
                    <p><i class="fas fa-map-marker"> {{ubic}}</i></p>
                </b>
                <p>Id de Reserva: {{id}}</p>
                <p>Inmobiliaria: {{fullname}}</p>

            </div>

            <div class="col-md-2">
                <b>
                    <p>{{moneda}}${{precio}}</p>
                </b>
                <a href="/inmueble/{{idInm}}" class="btn btn-info">Detalles <i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="col-sm-2">
                <a href="/borrar/{{id}}" class="btn btn-xs btn-danger">Cancelar reunión</a>
            </div>
            
        </div>
        {{/each}}
        {{else}}
        {{#unless noReservas}}
        <div class="text-center">
            <p>Actualmente usted no posee reservas para ningún inmueble</p>
        </div>
        
        {{/unless}}
        {{/if}}
        <!--End of reserva if -->
        {{/if}}
        <!--End of isUser if  -->
</section>




</div>