<!-- CSS -->
<style>
    .btn-default {
        background-color: #87cefa;
    }

    .btn-primary {
        background-color: #6495ed;
        border: none;
        color: #FFF;
        font-size: 16px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #4682b4;
    }

    .btn-secondary {
        background-color: #c0c0c0;
        border: none;
        color: #FFF;
        font-size: 16px;
        cursor: pointer;
    }

    .btn-secondary:hover {
        background-color: #a6a6a6;
    }

    .container-fluid {
        padding-top: 10px;
    }

    .dropdown.dropdown-lg .dropdown-menu {
        margin-top: -1px;
        padding: 4px 15px;
    }

    .btn-group,
    .btn {
        border-radius: 4px;
        margin-left: -1px;
    }

    .px-4 .py-3 .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    @media screen and (min-width: 768px) {
        #boot-search-box {
            width: 500px;
            margin: 5px auto;
        }

        .dropdown.dropdown-lg {
            position: static !important;
        }

        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 500px;
        }
    }
</style>
<script>
    $('#Dropdown .dropdown-menu').on({
        "click": function (e) {
            e.stopPropagation();
        }
    });

</script>

<!-- BODY -->

<body>
    <div class="container-fluid">
        <div class="row">
            {{success}}
            <div class="col-md-12">
                <form action="/search" method="GET">
                    <div class="input-group" id="boot-search-box">
                        <input type="text" class="form-control" placeholder="Búsqueda" name="nombre">

                        {{!-- <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <div class="dropdown dropdown-lg">
                                    <button type="button" onclick="btnToggle()" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                            class="caret"></span></button>
                                    <div class="dropdown-menu dropdown-menu-right" id="Dropdown" role="menu">
                                        <form class="px-4 py-3" role="form" action="/searchResult" method="GET">

                                            <div class="form-group">
                                                <label for="offer">Oferta</label>
                                                <select id="offer" class="form-control">
                                                    <option value="">Oferta</option>
                                                    <option value="1">Venta</option>
                                                    <option value="2">Alquiler</option>
                                                </select>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <div class="form-group">
                                                <label for="currency">Moneda</label>
                                                <select id="currency">
                                                    <option value="1" selected>DOP</option>
                                                    <option value="2">USD</option>
                                                </select>
                                            </div>
                                            <div class="form-row">
                                                <label for class>Precio</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control" id="min" type="number"
                                                        placeholder="Min">
                                                </div>
                                                <div class="col-sm-3">
                                                    <input class="form-control" id="max" type="number"
                                                        placeholder="Max">
                                                </div>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <div class="form-group">
                                                <label for="city">Ciudad:</label>
                                                <input type="text" id="city" placeholder="Ej. Santo Domingo">
                                            </div>
                                            <div class="form-group">
                                                <label for="address">Sector:</label>
                                                <input type="text" id="address" placeholder="Ej. Los Mameyes">
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <div class="form-group">
                                                <label for="category">Categoría</label>
                                                <select id="category" class="form-control">
                                                    <option value="">Tipo de propiedad</option>
                                                    <option value="1">Casa</option>
                                                    <option value="2">Villa</option>
                                                    <option value="3">Solar</option>
                                                    <option value="4">Finca</option>
                                                    <option value="5">Nave</option>
                                                    <option value="6">Local comercial</option>
                                                    <option value="7">Edificio</option>
                                                    <option value="8">Apartamento</option>
                                                    <option value="9">Penthouse</option>
                                                    <option value="10">Local de oficina</option>
                                                </select>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <div class="form-group">
                                                <label for="meter">Metros</label>
                                                <input class="form-control" type="number" id="meter"
                                                    placeholder="Número de metros">
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <div class="form-row">
                                                <div class="col-sm-4">
                                                    <label for="room">Habitación(es)</label>
                                                    <input class="form-control" id="room" type="number"
                                                        placeholder="Número">
                                                </div>
                                                <div class="col-sm-3">
                                                    <label for="bath">Baño(s)</label>
                                                    <input class="form-control" id="bath" type="number"
                                                        placeholder="Número">
                                                </div>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <div class="form-group">
                                                <div class="form-check form-check-inline">
                                                    <input type="checkbox" class="form-check-input" id="furniture">
                                                    <label for="furniture" class="form-check-label">Amueblado</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input type="checkbox" class="form-check-input" id="wGoods">
                                                    <label for="wGoods" class="form-check-label">Línea Blanca</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input type="checkbox" class="form-check-input" id="parking">
                                                    <label for="parking" class="form-check-label">Parqueo</label>
                                                </div>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <button type="submit" class="btn btn-primary btn-block"
                                                style="background-color: #1bb2fe; border-color: #1eb2fc;"><i
                                                    class="fa fa-search" aria-hidden="true"></i></span></button>
                                            <button type="reset" class="btn btn-secondary btn-block"><i
                                                    class="fa fa-refresh" aria-hidden="true"></i></button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div> --}}
                        <button type="submit" class="btn btn-success"><i class="fas fa-search"></i></button>

                    </div>

                </form>
                <a href="/buscarInmuebles">
                    <button class="btn btn-info"><i class="fas fa-tools"></i> Buscar inmuebles</button>
                </a>



            </div>



            <div class="container p-4 ">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="align-text-center">
                            <h3>Búsqueda de usuarios</h3>
                        </div>

                    </div>

                </div>

                {{#if data}}
                {{#each data}}

                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <img src="uploads/{{idImg}}" class="img-thumbnail float-left mr-2"
                            onerror="this.onerror=null; this.src='img/userlogo.jpg'"
                            style="width: 10rem; margin-bottom: 8px;">
                        <b>
                            <p>{{fullname}}</p>
                        </b>
                        <p>{{correo}}</p>




                    </div>

                    <div class="col-md-4">

                        <a href="/user/{{idEntidad}}" class="btn btn-info">Ver perfil <i
                                class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                {{/each}}
                {{else}}
                {{#unless notFound}}

                <div class="col-md-12 text-center">
                    <h4>No hay resultados &#128531;</h4>
                </div>


                {{/unless }}
                {{/if}}


            </div>
        </div>
    </div>
    {{> infowin}}
</body>

<!-- SCRIPTS -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>