<title>Perfil</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/profile.css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<style>
    .card-title,
    .card-text {

        background-color: rgba(0, 0, 0, 0.5);
        color: white;


    }
</style>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #50aafe;">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center text-white nav-link"
                href="/profile">
                <div>
                    <img class="img-profile rounded-circle" src="/uploads/{{ user.idImg }}" width="50" height="50">
                </div>
                <div class="sidebar-brand-text mx-3">{{user.fullname}} </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interfaz
            </div>

            <!-- Nav Item - Pages Collapse Menu -->

            <li class="nav-item">
                <a class="nav-link" href="/profile/propertylist" aria-labelledby="true">
                    <i class="fas fa-th-list"></i>
                    <span>Lista de inmuebles</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/profile/reunionlist" aria-labelledby="true">
                    <i class="fas fa-calendar-check"></i>
                    <span>Citas pendientes</span>
                </a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/search">
                    <i class="fas fa-search"></i>
                    <span>Buscador</span></a>
            </li>

            <!-- Nav Item - Tables -->

            <li class="nav-item">
                <a class="nav-link" href="/contract">
                    <i class="fas fa-file-signature"></i>
                    <span>Llenar contrato</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/profile/representantes">
                    <i class="fas fa-file-signature"></i>
                    <span>Representantes</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-chart-area"></i>
                    <span>Tablero</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="modal" data-target="#modalImage"
                    aria-expanded="true" aria-controls="modalImage">
                    <i class="fas fa-file-image"></i>
                    <span>Cambiar imagen</span>
                </a>
            </li>



            {{> editImg}}
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"><i class="fas fa-arrows-alt-h"
                        style="color: rgba(253, 253, 253, 0.7);"></i></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div class="p-4" id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <button type="button" class="btn btn-sm btn-primary shadow-sm" data-toggle="modal"
                            style="background-color: #1bb2fe; border-color: #1eb2fc;" data-target="#Representante"><i
                                class="fas fa-download fa-sm text-white-50"></i> Añadir
                            Representante</button>
                        <button type="button" class="btn btn-sm btn-primary shadow-sm" data-toggle="modal"
                            style="background-color: #1bb2fe; border-color: #1eb2fc;" data-target="#newProyect"><i
                                class="fas fa-download fa-sm text-white-50"></i> Nuevo
                            Proyecto</button>
                        <button type="button" class="btn btn-sm btn-primary shadow-sm" data-toggle="modal"
                            style="background-color: #1bb2fe; border-color: #1eb2fc;" data-target="#EditProfileModal"><i
                                class="fas fa-download fa-sm text-white-50"></i> Editar
                            perfil</button>
                    </div>

                    {{> addproperty}}
                    {{> addrepre}}

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card text-center">
                                <div class="card-header">
                                    <img src="/img/{{inmo.img}}" alt="" class="card-img-top"
                                        style=".card-img-top {width: 100%; height: 15vw; object-fit: cover;}">
                                </div>
                            </div>
                        </div>

                        {{#each repre}}
                        <div class="col-md-4 ml-auto">

                            <div class="profile-card py-3 card text-center">

                                <div class="card-body py-4">
                                    <img class="profile-picture rounded-circle" src="/uploads/{{idImg}}" />
                                    <h2 class="text-dark h5 font-weight-bold mt-4 mb-1">
                                        {{fullname}}
                                    </h2>
                                    <p class="text-muted font-weight-bold small">
                                        <i class="fa fa-map-marker"></i>
                                        {{direccion}}
                                    </p>
                                    <p class="text-muted font-weight-bold small">
                                        <i class="fas fa-mobile-alt"></i>
                                        {{telefono}}
                                    </p>
                                    <p class="px-1 mt-4 mb-4 text-muted quote-text">
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                                        roots in a piece of classical Latin literature.
                                    </p>
                                    <form action="/user/{{idEntidad}}">
                                        <button class="btn btn-sm btn-outline-success">Ver perfil</button>
                                    </form>
                                    <div class="d-flex social-section justify-content-center">
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>




                        </div>
                        {{/each}}



                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card text-justified">
                                <div class="card-header">
                                    Descripcion
                                </div>
                                <div class="card-body">
                                    <p>{{inmo.descr}}</p>
                                    <p><b>Estado:</b> {{inmo.estado}}</p>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-7">
                            <div class="card text-justified">
                                <div class="card-header">
                                    <h3>Informacion de {{inmo.nombre}}</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <p><b>Localizacion:</b> {{inmo.ubic}}</p>
                                        </div>
                                        <div class="col-5">
                                            <p><b>Municipio:</b> {{inmo.municipio}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <ul>
                                                <li>
                                                    <p><b>Construccion:</b> {{inmo.metro}} mt²</p>
                                                </li>
                                                <li>
                                                    <p><b>Habitaciones:</b> {{inmo.hab}}</p>
                                                </li>
                                                <li>
                                                    <p><b>Banos:</b> {{inmo.bano}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-5">
                                            <ul>
                                                <li>
                                                    <p>Tipo: {{inmo.tipoInm}}</p>
                                                </li>
                                                <li>
                                                    <p>{{inmo.compra}}: {{inmo.precio}}${{inmo.moneda}}</p>
                                                </li>
                                                <li>
                                                    <p>Parqueo/Garage: {{inmo.parqueo}}</p>
                                                    </i>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <br>
                    <div class="row">

                    </div>
                    <br>
                    {{#if expressFlash }}
                    {{expressFlash}}
                    {{/if}}

                </div>
            </div>
        </div>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <link rel="stylesheet" href="/css/tel.css">
        <div class="modal fade" id="EditProfileModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-white" style="background-color: #1bb2fe;">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edita tu información</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-dark">
                        <form action="/updateuser" method="POST">
                            <div class="form-group">
                                <h5>Nombre</h5>
                                <input type="text" name="fullname" value="{{user.fullname}}"
                                    placeholder="Nombre completo" class="form-control">
                            </div>
                            <div class="form-group">
                                <h5>Descripcion</h5>
                                <input type="text" name="descripcion" value="{{user.descripcion}}" placeholder="Trabajo"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <h5>Dirección</h5>
                                <input type="text" name="direccion" value="{{user.direccion}}" placeholder="Direccion"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <h5>Teléfono</h5>
                                <input type="tel" name="telefono" value="{{user.telefono}}"
                                    placeholder="Número de Telefono" class="form-control" required
                                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                                <span class="note"> Formato: XXX-XXX-XXXX </span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary"
                                    style="background-color: #1bb2fe; border-color: #1eb2fc;">Editar
                                    info</button>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        {{> infowin}}

        <script>
            (function ($) {
                "use strict"; // Start of use strict

                // Toggle the side navigation
                $("#sidebarToggle, #sidebarToggleTop").on('click', function (e) {
                    $("body").toggleClass("sidebar-toggled");
                    $(".sidebar").toggleClass("toggled");
                    if ($(".sidebar").hasClass("toggled")) {
                        $('.sidebar .collapse').collapse('hide');
                    };
                });

                // Close any open menu accordions when window is resized below 768px
                $(window).resize(function () {
                    if ($(window).width() < 768) {
                        $('.sidebar .collapse').collapse('hide');
                    };
                });

                // Prevent the content wrapper from scrolling when the fixed side navigation hovered over
                $('body.fixed-nav .sidebar').on('mousewheel DOMMouseScroll wheel', function (e) {
                    if ($(window).width() > 768) {
                        var e0 = e.originalEvent,
                            delta = e0.wheelDelta || -e0.detail;
                        this.scrollTop += (delta < 0 ? 1 : -1) * 30;
                        e.preventDefault();
                    }
                });

                // Scroll to top button appear
                $(document).on('scroll', function () {
                    var scrollDistance = $(this).scrollTop();
                    if (scrollDistance > 100) {
                        $('.scroll-to-top').fadeIn();
                    } else {
                        $('.scroll-to-top').fadeOut();
                    }
                });

                // Smooth scrolling using jQuery easing
                $(document).on('click', 'a.scroll-to-top', function (e) {
                    var $anchor = $(this);
                    $('html, body').stop().animate({
                        scrollTop: ($($anchor.attr('href')).offset().top)
                    }, 1000, 'easeInOutExpo');
                    e.preventDefault();
                });

            })(jQuery); // End of use strict
        </script>
        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="/chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script>

</body>