<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
<link rel="stylesheet" href="css/cards.css">

<div id="wrapper">
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #50aafe;">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center text-white">
            <div>
                <h2>ADMIN</h2>
            </div>

        </a>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interfaz
        </div>

        <!-- Nav Item - Pages Collapse Menu -->


        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/admin/solicitudes">
                <i class="fas fa-check-double"></i>
                <span>Solicitudes</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-hotel"></i>
                <span>Usuarios Clientes</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-pencil-ruler"></i>
                <span>Usuarios Inmobiliaria</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-chart-area"></i>
                <span>Usuarios Constructora</span></a>
        </li>




        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->


    </ul>

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div class="p-4" id="content">


        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Tablero</h1>

          </div>

          <!-- Content Row -->


          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Usuarios Registrados</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                  
                    
                  </div>
                </div>
              </div>
            </div>
            
       





          <!-- Content Row -->
          <div class="row text-justify">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Enfoque de desarrollo</h6>
                </div>
                <div class="card-body">

                </div>
              </div>

            </div>

            <div class="col-lg-6 mb-4">

              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Inmuebles y proyectos destacados</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">

                    

                  </div>
                  <br>
                  
                </div>
              </div>

              <!-- Approach -->


            </div>
          </div>
          <div class="row">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-table"></i>
                Últimas inmobiliarias</div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Imagen</th>
                        <th>Proyecto</th>
                        <th>Sector</th>
                        <th>Tipo</th>
                        <th>Precio</th>
                        <th>Metros</th>
                        <th>Info</th>
                        <th>Vendedor</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Imagen</th>
                        <th>Proyecto</th>
                        <th>Sector</th>
                        <th>Tipo</th>
                        <th>Precio</th>
                        <th>Metros</th>
                        <th>Info</th>
                        <th>Vendedor</th>
                      </tr>
                    </tfoot>
                    {{#each inmuebles}}
                    <tbody>
                      <tr>
                        <td><img class="img-profile rounded-circle" src="img/{{img}}" alt=""></td>
                        <td>{{nombre}}</td>
                        <td>{{ubic}}</td>
                        <td>{{tipoInm}}</td>
                        <td>{{precio}}${{moneda}}</td>
                        <td>{{metro}}m²</td>
                        <td>

                          <button class="btn btn-primary btn-sm"
                            style="background-color: #1bb2fe; border-color: #1eb2fc;" data-toggle="modal"
                            data-target="#infomodal{{@index}}">Info</button>

                        </td>
                        <td>{{fullname}}</td>
                      </tr>
                    </tbody>
                    {{/each}}
                </div>

                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>

    
</div>