<title>Cloud Tower Dashboard</title>
<style>
    #map-template {
        height: 19vw;
        width: 100%;
        object-fit: cover;
    }
</style>
<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>


<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #50aafe;">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/profile">
        <div>
          <img class="img-profile rounded-circle" src="/uploads/{{ user.idImg }}" width="50" height="50">
        </div>

      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/dashboardin">
          <i class="fas fa-chart-area"></i>
          <span>Tablero </span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interfaz
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" href="/profile/propertylist" aria-labelledby="true">
          <i class="fas fa-th-list"></i>
          <span>Lista de inmuebles</span>
        </a>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="/search">
          <i class="fas fa-search"></i>
          <span>Buscador</span></a>
      </li>

      <!-- Nav Item - Tables -->

      <li class="nav-item">
        <a class="nav-link" href="/viewContract">
          <i class="fas fa-file-signature"></i>
          <span>Ver contratos</span></a>
      </li>



      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div class="p-4" id="content">


        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Tablero</h1>

          </div>

          <!-- Content Row -->


          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Inmuebles por inmobiliarias</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myChart" style="max-width: 680px; max-height: 680px"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <script>
              var ctx = document.getElementById('myChart').getContext('2d');
              var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                  labels: ['Inmobiliaria Perez', 'Inmobiliaria Genao', 'Constructora Tierra Plana'],
                  datasets: [{
                    label: '# de inmuebles por entidad',
                    data: [3, 1, 2],
                    backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero: true
                      }
                    }]
                  }
                }
              });
            </script>



            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Inmobiliarias destacadas</h6>
                  <select name="select-location" id="select-location">
                    <option value="-1">Selecciona uno...</option>
                    <option value="18.4508722,-69.9656328">Inmobiliaria Perez</option>
                    <option value="18.450119,-69.9558738">Inmobiliaria Genao</option>
                    <option value="18.4616732,-69.9584737">Constructora Tierra Plana</option>
                  </select>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div id="map-template"></div>
                </div>
              </div>
            </div>
          </div>
          <script>
            const map = L.map('map-template').setView([18.4616732,-69.9619069], 11);

            L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png').addTo(map);
            L.marker([18.4508722,-69.9656328]).addTo(map);
            L.marker([18.450119,-69.9558738]).addTo(map);
            L.marker([18.4616732,-69.9584737]).addTo(map);

            document.getElementById('select-location').addEventListener('change', function(e) {
              const coords = e.target.value.split(",");
              map.flyTo(coords, 18);
            })
          </script>



          <!-- Content Row -->
          <div class="row text-justify">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              {{!-- <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Proyectos</h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">Residencial Ada Lucia <span class="float-right">20%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Torre Don Quijote <span class="float-right">40%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Torre Pascual <span class="float-right">60%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Torre Caney <span class="float-right">80%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Residencial Las Colinas <span class="float-right">¡Completada!</span>
                  </h4>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div> --}}
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Enfoque de desarrollo</h6>
                </div>
                <div class="card-body">
                  <p>CloudTower es un sistema hecho para el sector inmobiliario que busca eficientizar la comunicación
                    entre las empresas inmobiliarias, las constructoras y los clientes cuando apliquen. El sistema
                    mostrará información relevante sobre los inmuebles que estén disponibles para la venta y los que no.
                    La información será actualizada a tiempo real de acuerdo a los procesos que se realicen por parte de
                    las empresas, entre otras características.</p>

                </div>
              </div>

              <!-- Color System -->
              {{!-- <div class="row">
                <div class="col-lg-6 mb-4">
                  <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                      Alquiler
                      <div class="text-white-50 small">#4e73df</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-success text-white shadow">
                    <div class="card-body">
                      Ventas
                      <div class="text-white-50 small">#1cc88a</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-info text-white shadow">
                    <div class="card-body">
                      Informacion
                      <div class="text-white-50 small">#36b9cc</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-warning text-white shadow">
                    <div class="card-body">
                      Empleo
                      <div class="text-white-50 small">#f6c23e</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-danger text-white shadow">
                    <div class="card-body">
                      Solicitudes
                      <div class="text-white-50 small">#e74a3b</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-secondary text-white shadow">
                    <div class="card-body">
                      Negados
                      <div class="text-white-50 small">#858796</div>
                    </div>
                  </div>
                </div>
              </div> --}}

            </div>

            <div class="col-lg-6 mb-4">

              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Inmuebles y proyectos destacados</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">

                    <div class="row">
                      {{#each inmuebles}}
                      <div class="col-md-4">
                        <a href="/inmueble/{{idInm}}">
                          <img class="img-thumbnail" style="width: 10rem;" src="img/{{img}}" alt="">
                        </a>
                      </div>
                      {{/each}}
                    </div>

                  </div>
                  <br>
                  <a target="_blank" rel="nofollow" href="/search">Buscar inmuebles &rarr;</a>
                </div>
              </div>

              <!-- Approach -->


            </div>
          </div>
          <div class="row">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-table"></i>
                Últimas inmobiliarias</div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Imagen</th>
                        <th>Proyecto</th>
                        <th>Sector</th>
                        <th>Tipo</th>
                        <th>Precio</th>
                        <th>Metros</th>
                        <th>Info</th>
                        <th>Vendedor</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Imagen</th>
                        <th>Proyecto</th>
                        <th>Sector</th>
                        <th>Tipo</th>
                        <th>Precio</th>
                        <th>Metros</th>
                        <th>Info</th>
                        <th>Vendedor</th>
                      </tr>
                    </tfoot>
                    {{#each inmuebles}}
                    <tbody>
                      <tr>
                        <td><img class="img-profile rounded-circle" src="img/{{img}}" alt=""></td>
                        <td>{{nombre}}</td>
                        <td>{{ubic}}</td>
                        <td>{{tipoInm}}</td>
                        <td>{{precio}}${{moneda}}</td>
                        <td>{{metro}}m²</td>
                        <td>

                          <button class="btn btn-primary btn-sm"
                            style="background-color: #1bb2fe; border-color: #1eb2fc;" data-toggle="modal"
                            data-target="#infomodal{{@index}}">Info</button>

                        </td>
                        <td>{{fullname}}</td>
                      </tr>
                    </tbody>
                    {{/each}}
                </div>

                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    {{!-- <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer> --}}
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  {{!-- <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/login">Logout</a>
        </div>
      </div>
    </div>
  </div> --}}
  {{!-- Info Modal --}}
  {{> infowin}}
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

</body>